.navbar{
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    height:30px;
    align-items: center;
    padding: 15px;
    z-index: 21;
}

.nav_black{
    transition: all 0.61s;
    background-color: #111;
    transition-timing-function: ease-in-out;

}

.logo{
    width:100px;
    object-fit: contain;

}

.avatar{
    width:30px;
    object-fit: contain;
    padding-right: 40px;
}